useLocalBrowser=True

useCustomFirefoxProfile=False
firefoxProfilePath=../firefoxTestingProfile

useCustomDownloadFolder=False
downloadFolder=~/Downloads

gridHost=192.168.225.15
gridPort=4444
gridBrowser=chrome

###URL TO USE
URL=https://bwaweb-eebkg-int.2e-systems.com

###SCREENSHOTS FOLDER
screenshotsFolder=./screenshots/

###DOWNLOADS FOLDER
downloadsFolder=~/Desktop/eeDptScriptDownloads/

###FARE TYPES
fareTypes=EC,ER,EF,BR,BF

###REGRESSION PARAMETERS
airline=bwa
environment=int

###CONFIRMATION EMAIL
email=twoeqc@gmail.com
emailPasswd=shagme123
emailHost=imap.gmail.com

###CONTACT DATA
countryOfResidence=Sweden
contactPhoneNumber=1234567
contactPhonePrefix=11

###AppId used to simulate app from the availability deeplink leave empty for desktop
appId=21334893274382

###DATABASE CONNECTION
host=bwadbi
port=3306
user=t_stanceric
passwd=Fallout!27
db=bwai
